.chat__navigation-wrapper {
  height: 50px;
  box-shadow: 1px -2px 7px 0.1px #000000;
  overflow: hidden;
  .chat__navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 1200px;
    height: inherit;
    .chat__navigation-avatar {
      width: 30px;
      height: 30px;
      object-fit: cover;
      margin-right: 10px;
      border-radius: 50%;
    }
    .chat__navigation-username {
      margin-right: 10px;
      font-size: 14px;
    }

    .chat__navigation-btn {
      padding: 5px;
      background: transparent;
      border: 1px solid #000000;
      &:hover {
        color: #ffffff;
        background: #000000;
        cursor: pointer;
      }
    }
  }
}

.chat__field {
  max-width: 1200px;
  height: 70vh;
  margin: 15px auto;
  .message-wrapper {
    display: flex;
  }
  .message-wrapper.right{
    justify-content: flex-end;
    .chat__field-message {
      justify-content: flex-end;
    }
  }
  .chat__field-message {
    display: flex;
    align-items: center;
    margin: 10px 0;
    width: 300px;
    .chat__field-avatar {
      width: 50px;
      object-fit: cover;
      border-radius: 50%;
      margin-right: 10px;
    }
  }
}
