.home__wrapper {
  height: 100vh;
  margin-bottom: -50px;
  color: #ffffff;
  background: #000000;
}

.home {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  text-align: center;
  .home__title {
    font-size: 60px;
    .home__title-chat {
      padding: 5px;
      color: #000000;
      background: #ffffff;
    }
  }

  .home__description {
    font-size: 20px;
  }

  .home__title,
  .home__description {
    margin-bottom: 50px;
  }

  .home__link {
    display: block;
    width: 140px;
    height: 60px;
    margin: 0 auto;
    padding: 20px 40px;
    color: #ffffff;
    background: red;
    border: 1px solid red;
    text-decoration: none;
    &:hover {
      color: #ffffff;
      background: transparent;
      border-color: red;
      cursor: pointer;
    }
  }
}

.home__footer {
  height: 50px;
  color: lightgrey;
  text-align: center;
  .home__sign-in-link {
    color: lightgrey;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
