.home__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom: -50px;
  padding-bottom: 300px;
  color: #ffffff;
  background: #000000;
  text-align: center;
}

.home {
  width: 100%;
  height: 200px;
  .home__title,
  .home__description {
    padding-bottom: 50px;
  }

  .home__link {
    padding: 20px 40px;
    color: #ffffff;
    background: red;
    border: 1px solid red;
    text-decoration: none;
    &:hover {
      color: #ffffff;
      background: transparent;
      border-color: red;
    }
  }
}

.home__footer {
  height: 50px;
  color: lightgrey;
  text-align: center;
  .home__sign-in-link {
    color: lightgrey;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
